<div class="item media" ng-class="{'is-online': owner.online}">
    <div ng-switch on="!!owner" class="pull-left">
        <img ng-switch-when="true" ng-src="{{owner.photo}}" class="item__img media-object"/>
        <div ng-switch-when="false" class="item__img media-object">
            <i class="icon-user"></i>{{owners.length}}
        </div>
    </div>
    <div class="media-body" ng-transclude>
        <strong class="item__author media-heading">{{owners | name}}</strong>
    </div>
    <div ng-if="reply.visible" class="item__reply">
        <textarea
            ui-keypress="{'enter': 'reply.onSend(message)'}"
            autofocus="autofocus"
            ng-model="message">
        </textarea>
    </div>
</div>
