.item {
    @itemPadding: 10px;
    @iconSize: 32px;

    background: @white;
    padding: 6px @itemPadding @itemPadding;
    position: relative;

    & .item  {
        margin: 0 -@itemPadding -@itemPadding;
    }
    &-inner {
        padding-left: @iconSize + @itemPadding;
    }
    &-header {
        overflow: hidden;
    }
    &-content {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .avatar {
        width: @iconSize;
        height: @iconSize;
        cursor: pointer;
        .border-radius(4px);
    }
    &-header .avatar {
        position: absolute;
        top: @itemPadding;
        left: @itemPadding;
    }
    .name {
        .text-overflow();
        max-width: 200px;
        display: block;
        float: left;

        &:hover {
            color: @black;
            cursor: pointer;
        }
    }
    .time {
        float: right;
    }
    .actions {
        font-size: 12px;
    }
    .icon-white {
        background-color: @linkColor;
    }
}
