.item {
   @itemPadding: 10px;
   @iconSize: 32px;

   background: @white;
   padding: @itemPadding;
   margin: 0;
   position: relative;
   overflow: hidden;

   &:first-child  {
       .border-radius(4px 4px 0 0);
   }
   &:last-child  {
       .border-radius(4px 4px 0 0);
   }
   &__img {
        width: @iconSize;
        height: @iconSize;
        cursor: pointer;
        .border-radius(4px);
   }
   &__author {
       .text-overflow();
       max-width: 200px;
       display: block;

       &:hover {
           color: @black;
           cursor: pointer;
       }

       & > * {
           clear: both;
           overflow: hidden;
           padding-bottom: 1px;
       }
   }
   &.is-online &__author:after {
       content: '';
       display: inline-block;
       width: 14px;
       height: 14px;
       line-height: 14px;
       background-image: url("@{iconWhiteInvertSpritePath}");
       background-repeat: no-repeat;
       position: relative;
       top: 1px;
       .icon-ok-sign();
       background-color: @green;
       margin-left: 6px;
   }
   &__actions {
       position: absolute;
       right: @itemPadding;
       top: @itemPadding;
       font-size: 12px;
   }
   &:hover .item__action {
       opacity: 1;
   }
   &__action {
       -moz-transition: opacity 0.1s ease 0.1s;
       -webkit-transition: opacity 0.1s ease 0.1s;
       -o-transition: opacity 0.1s ease 0.1s;
       transition: opacity 0.1s ease 0.1s;
       opacity: 0;
       text-decoration: none !important;
       display: inline-block;
       cursor: pointer;
       background-image: url("@{iconWhiteInvertSpritePath}");

       .t-app__color-with-hover(@blue);
   }
   &__action + &__action {
       margin-left: 0.5em;
   }
   &__attachment {
       max-width: 100%;
   }
   &__picture {
       box-sizing: border-box;
   }
   & + .item {
       border-top: 1px solid @grayLighter;
   }
   &__reply {
       background-color: #f5f5f5;
       padding: @itemPadding;
       margin: @itemPadding -@itemPadding -@itemPadding;
       border-top: 1px solid #ddd;
       .box-shadow(inset 0 1px 0 @white);
       position: relative;

       &:before {
           background-color: #f5f5f5;
           border-top: 1px solid #ddd;
           border-left: 1px solid #ddd;
           .box-shadow(inset 1px 1px 0 @white);
           width: @itemPadding;
           height: @itemPadding;
           position: absolute;
           .rotate(45deg);
           top: -6px;
           left: @iconSize / 2 + 6px;
           content: '';
        }

        &:after {
            position: absolute;
            height: 1px;
            left: 0;
            right: 0;
            background-color: #ddd;
            bottom: -1px;
            content: '';
            z-index: 999;
        }

        textarea {
            width: 100%;
            box-sizing: border-box;
            margin: 0;
        }
    }
}
.item__action-active {
    opacity: 1;
}
