.t-item {
   @itemPadding: 10px;
   @iconSize: 32px;

   background: @white;
   padding: @itemPadding;
   margin: 0;
   position: relative;
   overflow: hidden;

   &:first-child  {
       .border-radius(4px 4px 0 0);
   }
   &:last-child  {
       .border-radius(4px 4px 0 0);
   }
   &__img {
        width: @iconSize;
        height: @iconSize;
        cursor: pointer;
        .border-radius(4px);
   }
   &__author {
       .text-overflow();
       max-width: 200px;
       display: block;
       float: left;

       &:hover {
           color: @black;
           cursor: pointer;
       }
   }
   &.is-online &__author:after {
       content: '';
       display: inline-block;
       width: 14px;
       height: 14px;
       line-height: 14px;
       background-image: url("@{iconWhiteInvertSpritePath}");
       background-repeat: no-repeat;
       position: relative;
       top: 1px;
       .icon-ok-sign();
       background-color: @green;
       margin-left: 6px;
   }
   &__actions {
       position: absolute;
       right: @itemPadding;
       top: @itemPadding;
       font-size: 12px;
   }
   &:hover .t-item__action {
       opacity: 1;
   }
   &__action {
       -moz-transition: opacity 0.1s ease 0.1s;
       -webkit-transition: opacity 0.1s ease 0.1s;
       -o-transition: opacity 0.1s ease 0.1s;
       transition: opacity 0.1s ease 0.1s;
       opacity: 0;
       text-decoration: none !important;
       display: inline-block;
       cursor: pointer;
       background-image: url("@{iconWhiteInvertSpritePath}");

       .t-app__color-with-hover(@blue);
   }
   &__action + &__action {
       margin-left: 0.5em;
   }
   &__content {
       clear: both;
       .text-overflow();
   }
   & + .t-item {
       border-top: 1px solid @grayLighter;
   }
}
.t-item__action-active {
    opacity: 1;
}
