.DS_Store
develop/manifest.json
develop/*/pages/*.html
!develop/*/pages/*.tmpl.html
develop/*/pages/*.js
develop/*/pages/*.css
develop/modules/i18n/*.js
!develop/modules/i18n/i18n.js
develop/components
node_modules
build
build.zip
