.item-list {
    height: 400px;
    overflow-y: scroll;
}
.item-list__content {
    margin: 10px;
    .border-radius(4px);
    .box-shadow(0 1px 4px @grayLight);

    .item:first-child {
        .border-top-radius(4px);
    }
    .item:last-child {
        .border-bottom-radius(4px);
}
}
