<navigation></navigation>
<div ng-controller="buddiesCtrl" class="buddies">
    <div class="navbar navbar_style_sub">
        <label class="buddies__search">
            <i class="icon-search"></i>
            <input
            id="prependedInput"
            type="text"
            ng-model="searchClue"
            class="span2"
            placeholder="{{'Search' | i18n}}">
            </input>
        </label>
        <div
            role="menu"
            class="dropdown buddies__filter pull-right">
            <i class="icon-reorder dropdown-toggle"></i>
            <ul class="dropdown-menu">
                <li><checkbox class="buddies__checkbox" ng-model="filters.male">
                {{'Male' | i18n}}
                </checkbox></li>
                <li><checkbox class="buddies__checkbox" ng-model="filters.female">
                {{'Female' | i18n}}
                </checkbox></li>
                <li class="divider"></li>
                <li><checkbox class="buddies__checkbox" ng-model="filters.offline">
                {{'Offline' | i18n}}
                </checkbox></li>
                <li class="divider"></li>
                <li><checkbox class="buddies__checkbox" ng-model="filters.faves">
                {{'Bookmarked' | i18n}}
                </checkbox></li>
            </div>
        </div>
    <item-list>
        <item
            item-list-repeat="buddie in data | buddiesFilter:filters:searchClue track by buddie.uid"
            class="buddies__item {{buddie.isFave && 'buddies__item_is-fave'}}"
            description="{{buddie.description}}"
            owners="buddie">
            <span ng-if="buddie.isFave">{{'Bookmarked' | i18n}}</span>
            <item-actions>
                <item-action
                    item-send-message
                    uid="buddie.uid"
                    ng-class="'icon-envelope'">
                </item-action>
                <item-action
                    item-post-wall
                    uid="buddie.uid"
                    ng-class="'icon-comment'">
                </item-action>
                <item-action
                    ng-click="toggleFriendWatching(buddie)"
                    ng-class="{'buddies__item-action_active': buddie.isWatched}"
                    class="icon-bell-alt"
                    title="{{'Monitor online status' | i18n}}">
                </item-action>
            </item-actions>
        </item>
    </item-list>
</div>
