<item
    item-list-repeat="item in data.items"
    owners="data.profiles | where:'id':item.source_id">
    <ng-switch on="item.type">
        <div ng-switch-when="post">
            <p class="news__item-text" ng-bind-html-unsafe="item.text"></p>
            <item-attachment
                ng-repeat="attachment in item.attachments"
                data="attachment[attachment.type]"
                type="{{attachment.type}}">
            </item-attachment>
            <item-actions>
                <item-action-like
                    owner-id="item.source_id"
                    item-id="item.post_id"
                    likes="item.likes">
                </item-action-like>
            </item-actions>
        </div>

        <div ng-switch-when="photo">
            <item-attachment ng-repeat="photo in item.photos" data="photo" type="photo">
            </item-attachment>
        </div>

        <div ng-switch-when="wall_photo">
            <item-attachment ng-repeat="photo in item.photos" data="photo" type="photo">
            </item-attachment>
        </div>

        <div ng-switch-when="photo_tag">
            <item-attachment ng-repeat="photo in item.photo_tags" data="photo" type="photo">
            </item-attachment>
        </div>
        <div ng-switch-when="note">
            {{item | json}}
        </div>
        <div ng-switch-when="friend">
            <!-- TODO I18N -->
            Added new friend:
            <span ng-repeat="friend in item.friends">{{data.profiles | where:'id':friend.uid | name }} </span>
        </div>
    </ng-switch>
</item>
