<item
    item-list-repeat="item in data.items track by item.id"
    owners="data.profiles | where:'id':item.source_id">
    <ng-switch on="item.type">
        <div ng-switch-when="post">
            <p
                ng-if="item.text"
                ng-bind-html-unsafe="item.text | rectify"
                class="news__item-text">
            </p>
            <item-attachment
                ng-repeat="attachment in item.attachments"
                data="attachment[attachment.type]"
                type="{{attachment.type}}">
            </item-attachment>
            <item-actions>
                <item-action-comment
                    type="'post'"
                    ng-if="item.comments.can_post"
                    owner-id="item.source_id"
                    id="item.post_id">
                </item-action-comment>
                <item-action-like
                    owner-id="item.source_id"
                    item-id="item.post_id"
                    likes="item.likes">
                </item-action-like>
            </item-actions>
        </div>

        <div ng-switch-when="photo">
            <item-attachment ng-repeat="photo in item.photos | slice:1" data="photo" type="photo">
            </item-attachment>
        </div>

        <div ng-switch-when="wall_photo">
            <item-attachment ng-repeat="photo in item.photos | slice:1" data="photo" type="photo">
            </item-attachment>
        </div>

        <div ng-switch-when="photo_tag">
            <item-attachment ng-repeat="photo in item.photo_tags | slice:1" data="photo" type="photo">
            </item-attachment>
        </div>
        <div ng-switch-when="note">
            {{item | json}}
        </div>
        <div ng-switch-when="friend">
            <!-- TODO add plurals and gender-->
            {{'New friends:' | i18n}}
            <span ng-repeat="friend in item.friends | slice:1">
                <a anchor="{{'/id' + friend.uid | addVKBase}}">
                    {{data.profiles | where:'id':friend.uid | name }}<!--
                --></a><!--
                --><span ng-if="!$last">, </span>
            </span>
        </div>
    </ng-switch>
</item>
