<div ng-controller="MyNewsController" class="t-item-list">
    <item
        ng-repeat="item in data.items"
        owners="data.profiles | where:'id':item.parent.owner_id">
        <div ng-if="item.type == 'photo' || item.type == 'video'">
            <attachment data="item.parent" type="{{item.type}}">
            </attachment>
        </div>
        <div ng-if="item.type == 'topic'">
            {{item.parent.title}}
        </div>
        <div ng-if="['post', 'comment', 'wall'].indexOf(item.type) !== -1">
            {{item.parent.text}}
            <attachment
                ng-repeat="attachment in item.parent.attachments"
                data="attachment[attachment.type]"
                type="{{attachment.type}}">
            </attachment>
        </div>
        <item
            ng-repeat="feedback in item.feedbacks"
            owners="data.profiles | where:'id':feedback.feedback.owner_id">
            <div ng-if="['comment', 'reply'].indexOf(feedback.type) !== -1">
                {{feedback.feedback.text}}
            </div>
            <i ng-if="feedback.type == 'like'" class="icon-heart"></i>
            <i ng-if="feedback.type == 'copy'" class="icon-share-alt"></i>
        </item>
    </item>
</div>
