<item-list ng-controller="MyNewsController">
    <item
        item-list-repeat="item in data.items"
        owners="data.profiles | where:'id':item.parent.owner_id">
        <div ng-if="item.type == 'photo' || item.type == 'video'">
            <item-attachment data="item.parent" type="{{item.type}}">
            </item-attachment>
        </div>
        <div ng-if="item.type == 'topic'">
            {{item.parent.title}}
        </div>
        <div ng-if="item.type == 'mention'" ng-bind-html-unsafe="item.parent.text | truncate">
        </div>
        <div ng-if="item.type == 'follow'">
            {{'Started following you' | i18n}} <i class="icon-user"></i>
        </div>
        <div ng-if="['post', 'comment', 'wall'].indexOf(item.type) !== -1">
            <p ng-if="item.parent.text" ng-bind-html-unsafe="item.parent.text | truncate"></p>
            <item-attachment
                ng-repeat="attachment in item.parent.attachments"
                data="attachment[attachment.type]"
                type="{{attachment.type}}">
            </item-attachment>
        </div>
        <item-actions>
            <item-action-comment
                ng-if="item.comment"
                type="item.comment.type"
                owner-id="item.comment.ownerId"
                reply-to="item.comment.replyTo"
                id="item.comment.id">
            </item-action-comment>
            <item-action-like
                owner-id="item.parent.to_id || item.parent.owner_id"
                item-id="item.parent.id"
                likes="item.parent.likes">
            </item-action-like>
        </item-actions>
        <item
            ng-repeat="feedback in item.feedbacks"
            owners="data.profiles | where:'id':feedback.feedback.owner_id">
            <div ng-if="['comment', 'reply'].indexOf(feedback.type) !== -1">
                {{feedback.feedback.text}}
            </div>
            <span ng-if="feedback.type == 'like'">
                {{'Liked' | i18n}} <i class="icon-heart"></i>
            </span>
            <span ng-if="feedback.type == 'copy'">
                {{'Reposted' | i18n}} <i class="icon-retweet"></i>
            </span>
        </item>
    </item>
</item-list>
