<ng-include src="'/modules/popup/app/navigation.tmpl.html'"></ng-include>
<div ng-controller="chatCtrl" class="t-item-list">
    <item ng-repeat="dialog in data" owners="dialog.owners">
        <blockquote
            ng-class="author && 'pull-right'"
            ng-click="showReply = !showReply"
            class="t-item__content">
            <p ng-repeat="message in dialog.messages">
                {{message.body}}<br/>
            </p>
            <small ng-if="author">{{dialog.author | name}}</small>
        </blockquote>
    </item>
</div>
