<navigation></navigation>
<div ng-controller="buddiesCtrl" class="buddies">
    <div class="navbar navbar-static-top">
        <form class="navbar-inner form-inline navbar-form">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-search"></i></span>
                <input
                    class="span2"
                    id="prependedInput"
                    type="text"
                    ng-model="searchClue"
                    placeholder="{{'Search' | i18n}}">
            </div>
            <div
                class="dropdown btn-group pull-right">
                <button
                    class="btn dropdown-toggle" type="button">
                    {{'Filters' | i18n}} <div class="caret"></div>
                </button>
                <ul class="dropdown-menu">
                    <li><label class="checkbox">
                        <input ng-model="filters.male" type="checkbox">{{'Male' | i18n}}
                    </label></li>
                    <li><label class="checkbox">
                        <input ng-model="filters.female" type="checkbox">{{'Female' | i18n}}
                    </label></li>
                    <li class="divider"></li>
                    <li><label class="checkbox">
                        <input ng-model="filters.offline" type="checkbox">{{'Offline' | i18n}}
                    </label></li>
                    <li class="divider"></li>
                    <li><label class="checkbox">
                        <input ng-model="filters.faves" type="checkbox">{{'Bookmarked' | i18n}}
                    </label></li>
            </div>
        </form>
    </div>
    <item-list>
        <item
            item-list-repeat="friend in data | buddiesFilter:filters:25:searchClue track by friend.uid"
            owners="friend">
            <span ng-if="friend.isFave">{{'Bookmarked' | i18n}}</span>
            <item-actions>
                <item-action
                    item-send-message
                    uid="friend.uid"
                    ng-class="'icon-share-alt'">
                </item-action>
                <item-action
                    item-post-wall
                    uid="friend.uid"
                    ng-class="'icon-comment'">
                </item-action>
                <item-action
                    ng-click="toggleFriendWatching(friend)"
                    ng-class="{'buddies__item-action_active': friend.isWatched}"
                    class="icon-eye-open"
                    title="{{'Monitor online status' | i18n}}">
                </item-action>
            </item-actions>
        </item>
    </item-list>
</div>
