<ng-include src="'/modules/popup/app/navigation.tmpl.html'"></ng-include>
<div ng-controller="ChatCtrl" class="item-list">
    <div
        ng-repeat="dialog in data"
        ng-controller="ChatItemCtrl"
        class="chat__item">
        <item
            reply="reply"
            owners="dialog.owners">
            <blockquote
                ng-click="replyDialog()"
                ng-class="author && 'pull-right'"
                class="chat__item-content">
                <p ng-repeat="message in dialog.messages">
                    {{message.body}}
                    <attachment
                        ng-repeat="attachment in message.attachments"
                        data="attachment[attachment.type]"
                        type="{{attachment.type}}">
                    </attachment>
                </p>
                <small ng-if="author">{{dialog.author | name}}</small>
            </blockquote>
            <actions>
                <action
                    ng-repeat="action in chatItem.actions"
                    ng-class="action.class"
                    ng-click="action.onClick()">
                </action>
            </actions>
        </item>
    </div>
</div>
