<div class="item {{class}}">
    <div class="">
        <div class="item__header">
            <div ng-switch on="owners | isArray" class="pull-left">
                <div
                    ng-switch-when="false"
                    style="background-image:url({{owners.photo}})"
                    anchor="{{anchor | addVKBase}}"
                    class="item__img media-object">
                </div>
                <div ng-switch-when="true" class="item__img">
                    <i class="icon-user"></i>{{owners.length}}
                </div>
            </div>
            <span
                ng-class="{'is-online': owners.online}"
                class="item__title">
                <span class="item__author">{{owners | name}}</span>
                <span ng-if="description" class="item__description">{{description}}</span>
            </span>
        </div>
        <div class="item__body clearfix" ng-transclude>
        </div>
    </div>
    <div ng-if="reply.visible" class="item__reply">
        <textarea
            ui-keypress="{'enter': 'onReply(message)'}"
            placeholder="{{reply.placeholder}}"
            autofocus="autofocus"
            ng-model="message">
        </textarea>
    </div>
</div>
