<!DOCTYPE html>
<html ng-app="app" ng-csp="">
    <head>
        <meta charset="utf-8">
        <title>VKfox</title>
        <base href="/vkfox/data/">
        <script src="modules/resize/dimensions.pu.js"></script>
        <link rel="stylesheet" href="pages/popup.css">
        <link rel="stylesheet" href="bower_components/emoji/lib/emoji.css">
    </head>
    <body class="app">

<!-- Begin Templates -->
<script type="text/ng-template" id="modules/buddies/buddies.tmpl.html">
<navigation></navigation>
<div ng-controller="buddiesCtrl" class="buddies">
    <div class="navbar navbar_style_sub">
        <label class="buddies__search">
            <i class="icon-search"></i>
            <input
            id="prependedInput"
            type="text"
            ng-model="searchClue"
            class="span2"
            placeholder="{{'Search' | i18n}}">
            </input>
        </label>
        <div
            role="menu"
            class="dropdown buddies__filter pull-right">
            <i class="icon-reorder dropdown-toggle"></i>
            <ul class="dropdown-menu">
                <li><checkbox class="buddies__checkbox" ng-model="filters.male">
                {{'Male' | i18n}}
                </checkbox></li>
                <li><checkbox class="buddies__checkbox" ng-model="filters.female">
                {{'Female' | i18n}}
                </checkbox></li>
                <li class="divider"></li>
                <li><checkbox class="buddies__checkbox" ng-model="filters.offline">
                {{'Offline' | i18n}}
                </checkbox></li>
                <li class="divider"></li>
                <li><checkbox class="buddies__checkbox" ng-model="filters.faves">
                {{'Bookmarked' | i18n}}
                </checkbox></li>
            </div>
        </div>
    <item-list>
        <item
            item-list-repeat="buddie in data | buddiesFilter:filters:searchClue track by buddie.uid"
            class="buddies__item {{buddie.isFave && 'buddies__item_is-fave'}}"
            description="{{buddie.description}}"
            owners="buddie">
            <span ng-if="buddie.isFave">{{'Bookmarked' | i18n}}</span>
            <item-actions>
                <item-action
                    item-send-message
                    uid="buddie.uid"
                    ng-class="'icon-envelope'">
                </item-action>
                <item-action
                    item-post-wall
                    uid="buddie.uid"
                    ng-class="'icon-comment'">
                </item-action>
                <item-action
                    ng-click="toggleFriendWatching(buddie)"
                    ng-class="{'buddies__item-action_active': buddie.isWatched}"
                    class="icon-bell-alt"
                    title="{{'Monitor online status' | i18n}}">
                </item-action>
            </item-actions>
        </item>
    </item-list>
</div>

</script>

<script type="text/ng-template" id="modules/chat/chat.tmpl.html">
<navigation></navigation>
asjda;dbwdjabwdljakwbdjkalwbdjkawbdjalwbdjk
<item-list class="chat" ng-controller="ChatCtrl">
    <div
        item-list-repeat="dialog in dialogs track by dialog.id"
        ng-controller="ChatItemCtrl">
        <!-- show time of last (most recent) message -->
        <item
            description="{{(dialog.messages | slice:-1)[0].date * 1000 | timeago}}"
            owners="owners">
            <!-- overwrite title from item-send-message directive -->
            <blockquote
                ng-repeat="messages in foldedMessages"
                item-send-message
                title=""
                chat-id="dialog.chat_id"
                uid="dialog.uid"
                class="chat__item-content">
                <div ng-class="{chat__messages_out: messages.out}">
                    <p ng-repeat="message in messages.items">
                        <span ng-bind-html-unsafe="message.body | rectify:message.emoji"></span>
                        <!-- line break before photos etc -->
                        <br ng-if="message.attachments && message.body"/>
                        <item-attachment
                            ng-repeat="attachment in message.attachments"
                            data="attachment[attachment.type]"
                            type="{{attachment.type}}">
                        </item-attachment>
                    </p>
                    <!-- {{messages.author | json}} -->
                    <small
                        class="chat__author"
                        ng-if="messages.author.uid !== owners.uid">{{messages.author | name}}</small>
                </div>
            </blockquote>
            <!-- TODO item-actions and ChatActionsCtrl on single node -->
            <div ng-controller=ChatActionsCtrl>
                <item-actions>
                    <item-action
                        ng-click="showHistory(dialog)"
                        title="{{'Show history' | i18n}}"
                        ng-class="'icon-time'">
                    </item-action>
                    <!-- link to dialog -->
                    <item-action
                        anchor="{{'http://vk.com/im?sel=' + (dialog.chat_id ? 'c' + dialog.chat_id:dialog.uid)}}"
                        title="{{'Open in New Tab' | i18n}}"
                        ng-class="'icon-external-link-sign'">
                    </item-action>
                    <item-action
                        item-send-message
                        chat-id="dialog.chat_id"
                        uid="dialog.uid"
                        ng-class="'icon-envelope'">
                    </item-action>
                    <item-action
                        ng-class="'chat__item-action_mark-read icon-bookmark'"
                        ng-if="unread"
                        ng-click="unreadHandler($event)"
                        title="{{out ? 'Your message wasn\'t read':'Mark as read' | i18n}}">
                    </item-action>
                </item-actions>
            </div>
        </item>
    </div>
</item-list>

</script>

<script type="text/ng-template" id="modules/checkbox/checkbox.tmpl.html">
<label class="checkbox {{class}}">
    <input class="checkbox__input" ng-disabled="disabled" ng-model="model" type="checkbox" />
    <div class="checkbox__text" ng-transclude></div>
</label>

</script>

<script type="text/ng-template" id="modules/item-list/item-list.tmpl.html">
<div class="item-list">
    <div class="item-list__content">
        <div class="item-list__scroll" ng-transclude></div>
    </div>
</div>

</script>

<script type="text/ng-template" id="modules/item/action-like.tmpl.html">
<i
    ng-class="{'item__action-like_liked': likes.user_likes}"
    ng-show="likes.can_like || likes.user_likes || (likes && likes.can_like === undefined)"
    class="item__action icon-heart">
</i>

</script>

<script type="text/ng-template" id="modules/item/attachment.tmpl.html">
<div
    class="item__attachment item__attachment_type_{{type}}"
    ng-switch on="type">
    <img ng-switch-when="app" ng-src="{{data.src}}"/>
    <div  ng-switch-when="audio">
        <i class="icon-music"></i> {{data.performer}} - {{data.title}}
    </div>
    <a ng-switch-when="note" anchor="/note{{data.owner_id}}_{{data.nid}}">
        <i class="icon-file"></i> {{data.title}}
    </a>
    <div  ng-switch-when="doc"  class="item__link">
        <i class="icon-file"></i> {{data.title}}
    </div>
    <div ng-switch-when="poll">
        <i class="icon-list-alt"></i> {{data.question}}
    </div>

    <a ng-switch-when="link" class="item__link" anchor="{{data.url}}">
        <i class="icon-share-alt"></i> {{data.url}}
    </a>

    <div
        ng-switch-when="graffiti"
        anchor="{{data.src_big}}"
        class="item__picture"
        style="background-image: url({{data.src_big}})">
    </div>

    <div
        ng-switch-when="photo"
        anchor="{{data.src_big}}"
        class="item__picture"
        style="background-image: url({{data.src_big}})">
    </div>

    <div
        ng-switch-when="posted_photo"
        anchor="{{data.src_big}}"
        class="item__picture"
        style="background-image: url({{data.src_big}})">
    </div>

    <div
        ng-switch-when="video"
        class="item__video"
        style="background-image: url({{data.image}})">
        <div class="item__video-desc">
            <div class="item__video-title">{{data.title}}</div>
            <div class="item__video-duration">{{data.duration | duration}}</div>
        </div>
    </div>
    <div ng-switch-default></div>
</div>

</script>

<script type="text/ng-template" id="modules/item/item.tmpl.html">
<div class="item {{class}}">
    <div class="">
        <div class="item__header">
            <div ng-switch on="owners | isArray" class="pull-left">
                <div
                    ng-switch-when="false"
                    style="background-image:url({{owners.photo}})"
                    anchor="{{anchor | addVKBase}}"
                    class="item__img media-object">
                </div>
                <div ng-switch-when="true" class="item__img">
                    <i class="icon-user"></i>{{owners.length}}
                </div>
            </div>
            <span
                ng-class="{'is-online': owners.online}"
                class="item__title">
                <span class="item__author">{{owners | name}}</span>
                <span ng-if="description" class="item__description">{{description}}</span>
            </span>
        </div>
        <div class="item__body clearfix" ng-transclude>
        </div>
    </div>
    <div ng-if="reply.visible" class="item__reply">
        <textarea
            ui-keypress="{'enter': 'onReply(message)'}"
            placeholder="{{reply.placeholder}}"
            autofocus="autofocus"
            ng-model="message">
        </textarea>
    </div>
</div>

</script>

<script type="text/ng-template" id="modules/navigation/navigation.tmpl.html">
<div class="navigation navbar navbar_style_main">
    <a
        ng-repeat="tab in tabs"
        class="navbar__tab"
        ng-class="{navbar__tab_active: tab.href === activeTab}"
        href="pages/popup.html#/{{tab.href}}">{{tab.name | i18n}}</a>
    <div class="navigation__actions">
        <a class="navigation__action navigation__help" anchor="{{'/plugin_vkfox' | addVKBase}}">
            <i class="icon-bug"></i>
        </a>
        <a class="navigation__action navigation__settings" href="pages/popup.html#/settings">
            <i class="icon-cog"></i>
        </a>
    </div>
</div>

</script>

<script type="text/ng-template" id="modules/news/feeds.tmpl.html">
<item
    item-list-repeat="item in data.items track by item.id"
    owners="data.profiles | where:'id':item.source_id">
    <ng-switch on="item.type">
        <div ng-switch-when="post">
            <p
                ng-if="item.text"
                ng-bind-html-unsafe="item.text | rectify"
                class="news__item-text">
            </p>
            <item-attachment
                ng-repeat="attachment in item.attachments"
                data="attachment[attachment.type]"
                type="{{attachment.type}}">
            </item-attachment>
            <item-actions>
                <item-action
                    anchor="{{'http://vk.com/wall' + item.source_id + '_' + item.post_id}}"
                    title="{{'Open in New Tab' | i18n}}"
                    ng-class="'icon-external-link-sign'">
                </item-action>
                <item-action-comment
                    type="'post'"
                    ng-if="item.comments.can_post"
                    owner-id="item.source_id"
                    id="item.post_id">
                </item-action-comment>
                <item-action-like
                    owner-id="item.source_id"
                    item-id="item.post_id"
                    likes="item.likes">
                </item-action-like>
            </item-actions>
        </div>

        <div ng-switch-when="photo">
            <item-attachment ng-repeat="photo in item.photos | slice:1" data="photo" type="photo">
            </item-attachment>
        </div>

        <div ng-switch-when="wall_photo">
            <item-attachment ng-repeat="photo in item.photos | slice:1" data="photo" type="photo">
            </item-attachment>
        </div>

        <div ng-switch-when="photo_tag">
            <item-attachment ng-repeat="photo in item.photo_tags | slice:1" data="photo" type="photo">
            </item-attachment>
        </div>
        <div ng-switch-when="note">
            {{item | json}}
        </div>
        <div ng-switch-when="friend">
            <!-- TODO add plurals and gender-->
            {{'New friends:' | i18n}}
            <span ng-repeat="friend in item.friends | slice:1">
                <a anchor="{{'/id' + friend.uid | addVKBase}}">
                    {{data.profiles | where:'id':friend.uid | name }}<!--
                --></a><!--
                --><span ng-if="!$last">, </span>
            </span>
        </div>
    </ng-switch>
</item>

</script>

<script type="text/ng-template" id="modules/news/friends.tmpl.html">
<item-list
    item-list-fixed-header
    ng-controller="FriendNewsController">
    <ng-include src="'modules/news/feeds.tmpl.html'"></ng-include>
</item-list>

</script>

<script type="text/ng-template" id="modules/news/groups.tmpl.html">
<item-list
    item-list-fixed-header
    ng-controller="GroupNewsController">
    <ng-include src="'modules/news/feeds.tmpl.html'"></ng-include>
</item-list>

</script>

<script type="text/ng-template" id="modules/news/my.tmpl.html">
<item-list
    item-list-fixed-header
    ng-controller="MyNewsController"
    class="news_type_my">
    <item
        item-list-repeat="item in data.items track by item.id"
        owners="data.profiles | where:'id':item.parent.owner_id">
        <div ng-if="item.type == 'photo' || item.type == 'video'">
            <item-attachment data="item.parent" type="{{item.type}}">
            </item-attachment>
        </div>
        <div ng-if="item.type == 'topic'">
            {{item.parent.text}}
        </div>
        <div ng-if="item.type == 'mention'" ng-bind-html-unsafe="item.parent.text | rectify">
        </div>
        <div ng-if="item.type == 'follow'">
            {{'started following you' | i18n}} <i class="icon-user"></i>
        </div>
        <div ng-if="item.type == 'friend_accepted'">
            {{'friend request accepted' | i18n}} <i class="icon-plus"></i>
        </div>
        <div ng-if="['post', 'comment', 'wall'].indexOf(item.type) !== -1">
            <p ng-if="item.parent.text" ng-bind-html-unsafe="item.parent.text | rectify"></p>
            <div>
                <item-attachment
                    ng-repeat="attachment in item.parent.attachments"
                    data="attachment[attachment.type]"
                    type="{{attachment.type}}">
                </item-attachment>
            </div>
        </div>
        <div ng-controller="MyNewsActionsCtrl">
            <item-actions>
                <i  ng-click="unsubscribe(comment.type, comment.ownerId, comment.id)"
                    title="{{'unsubscribe' | i18n | capitalize}}"
                    class="item__action icon-ban-circle"></i>
                <item-action
                    ng-if="open"
                    anchor="{{open}}"
                    title="{{'Open in New Tab' | i18n}}"
                    ng-class="'icon-external-link-sign'">
                </item-action>
                <item-action-comment
                    ng-if="comment"
                    type="comment.type"
                    owner-id="comment.ownerId"
                    reply-to="comment.replyTo"
                    id="comment.id">
                </item-action-comment>
                <item-action-like
                    ng-if="comment"
                    type="comment.type"
                    owner-id="comment.ownerId"
                    item-id="comment.id"
                    likes="parent.likes">
                </item-action-like>
            </item-actions>
        </div>
        <span
            ng-if="item.feedbacks.length > 3"
            class="btn news__show-all"
            ng-click="item.showAllFeedbacks = !item.showAllFeedbacks">
            {{item.showAllFeedbacks ? 'hide':'show all' | i18n}}
        </span>
        <item
            ng-repeat="feedback in item.feedbacks|slice:item.showAllFeedbacks ? 0:-3"
            owners="data.profiles | where:'id':feedback.feedback.owner_id">
            <!--
               - 'mention_commentS' type in notifications
               - @see http://vk.com/dev/notifications.get
               -->
            <div ng-if="['comment', 'comments', 'reply'].indexOf(feedback.type) !== -1">
                <span ng-bind-html-unsafe="feedback.feedback.text | rectify"></span>
                <div>
                    <item-attachment
                        ng-repeat="attachment in feedback.feedback.attachments"
                        data="attachment[attachment.type]"
                        type="{{attachment.type}}">
                    </item-attachment>
                </div>
            </div>
            <span ng-if="feedback.type == 'like'">
                {{'Liked' | i18n}} <i class="icon-heart"></i>
            </span>
            <span ng-if="feedback.type == 'copy'">
                {{'Reposted' | i18n}} <i class="icon-retweet"></i>
            </span>
        </item>
    </item>
</item-list>

</script>

<script type="text/ng-template" id="modules/news/news.tmpl.html">
<navigation></navigation>
<div class="news" ng-controller="NewsController">
    <div class="navbar navbar_style_sub">
        <a
            ng-repeat="tab in subtabs"
            class="navbar__tab"
            ng-class="{navbar__tab_active: tab.href === 'news/' + activeSubTab}"
            href="pages/popup.html#/{{tab.href}}">{{tab.text | i18n}}</a>
    </div>
    <ng-include src="'modules/news/' + activeSubTab + '.tmpl.html'"></ng-include>
</div>

</script>

<script type="text/ng-template" id="modules/settings/settings.tmpl.html">
<navigation></navigation>
<form
    ng-controller="settingsNotificationsCtrl"
    ng-hide="!notifications"
    class="settings">
    <div class="settings__row">
        <i class="icon-eye-open settings__icon"></i>
        <label class="settings__label">{{'force online' | i18n}}</label>
        <checkbox class="settings__checkbox" ng-model="forceOnline.enabled"></checkbox>
    </div>
    <div class="settings__row settings__separator">
        <i class="icon-bullhorn settings__icon"></i>
        <label class="settings__label">{{'notifications' | i18n}}</label>
        <checkbox class="settings__checkbox" ng-model="notifications.enabled"></checkbox>
    </div>
    <div class="settings__row settings__row_sub">
        <i class="icon-volume-up settings__icon"></i>
        <label class="settings__label">{{'sound' | i18n}}</label>
        <checkbox
            class="settings__checkbox"
            ng-model="notifications.sound.enabled"
            ng-disabled="!notifications.enabled"></checkbox>
    </div>
    <div class="settings__row settings__row_sub" ng-controller="settingsSignalCtrl">
        <label class="settings__label">{{'signal' | i18n}}</label>
        <select
            class="settings__checkbox"
            ng-model="notifications.sound.signal"
            ng-options="signal for signal in signals"
            ng-disabled="!notifications.enabled || !notifications.sound.enabled">
        </select>
    </div>
    <div class="settings__row settings__row_sub">
        <label class="settings__label">{{'volume' | i18n}}</label>
        <input
            class="settings__input"
            ng-model="notifications.sound.volume"
            ng-disabled="!notifications.enabled || !notifications.sound.enabled"
            step="0.1"
            min="0"
            max="1"
            type="range"/>
    </div>
    <div class="settings__row settings__row_sub">
        <i class="settings__icon icon-bell-alt"></i>
        <label class="settings__label">{{'popups' | i18n}}</label>
        <checkbox
            class="settings__checkbox"
            ng-model="notifications.popups.enabled"
            ng-disabled="!notifications.enabled"></checkbox>
    </div>
    <div class="settings__row settings__row_sub">
        <label class="settings__label">{{'show text' | i18n}}</label>
        <checkbox
            class="settings__checkbox"
            ng-model="notifications.popups.showText"
            ng-disabled="!notifications.enabled || !notifications.popups.enabled"></checkbox>
    </div>
    <div ng-if="yandex" class="settings__row settings__separator">
        <i class="settings__icon icon-search"></i>
        <label class="settings__label">{{'Yandex search' | i18n}}</label>
        <checkbox class="settings__checkbox" ng-model="yandex.enabled"></checkbox>
    </div>
</form>

</script>
<!-- End Templates -->


        <!-- inlined templates goes here -->
        <ng-view></ng-view>
        <resize></resize>
        <script src="pages/popup.js"></script>
    </body>
</html>
