<navigation></navigation>
<item-list class="chat" ng-controller="ChatCtrl">
    <item
        class="{{dialog.author && 'chat__item_out'}}"
        item-list-repeat="dialog in data track by dialog.id"
        owners="dialog.owners">
        <blockquote
            item-send-message
            title=""
            chat-id="dialog.chat_id"
            uid="dialog.uid"
            class="chat__item-content">
            <p ng-repeat="message in dialog.messages">
                <span ng-bind-html-unsafe="message.body | rectify:message.emoji"></span>
                <!-- line break before photos etc -->
                <br ng-if="message.attachments"/>
                <item-attachment
                    ng-repeat="attachment in message.attachments"
                    data="attachment[attachment.type]"
                    type="{{attachment.type}}">
                </item-attachment>
            </p>
            <small class="chat__author" ng-if="dialog.author">{{dialog.author | name}}</small>
        </blockquote>
        <item-actions>
            <item-action
                item-send-message
                chat-id="dialog.chat_id"
                uid="dialog.uid"
                ng-class="'icon-envelope'">
            </item-action>
            <item-action
                ng-class="'chat__item-action_mark-read icon-bookmark'"
                ng-if="dialog.isUnread && !dialog.author"
                ng-click="markAsRead(dialog.messages)"
                title="{{'Mark as read' | i18n}}">
            </item-action>
        </item-actions>
    </item>
</item-list>
